<div class="row">
	<div class="span5">
		<ul id="gherkin">
			<li draggable="true">I am viewing <select>
				<option value="embedded">embedded</option>
				<option value="fullscreen">fullscreen</option>
			</select> player</li>
			<% @gherkins.each do |gherkin| %>
			<li draggable="true"><%= gherkin[:regex].inspect %></li>
			<% end %>
		</ul>
	</div>

 	<div class="span6 offset1">
 		<h3>Given...</h3>
 		<ul class="drop-target" id="drop-target-given"></ul>
 		<h3>When...</h3>
 		<ul class="drop-target" id="drop-target-when"></ul>
 		<h3>Then...</h3>
 		<ul class="drop-target" id="drop-target-then"></ul>
 	</div>
</div>